snippet frame
	"==============================================================
	" ${1}
	"==============================================================
	${0}

snippet mframe
	"--------------------------------------------------------------
	" ${1}
	"--------------------------------------------------------------
	${0}

snippet scripthome
	let ${1} = fnamemodify(resolve(expand('<sfile>:p')), ':h')
	${0}
